<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<center>
    <h1>Orders Containing this Product</h1>
</center>
<table>
    <table class="center">
        <tr>
            <th>OrderID</th>
            <th>CustomerID</th>
            <th>TotalCost</th>
            <th>DateOfOrder</th>
        </tr>
        {% for order in orders %}
        <tr>
            <td>{{ order[0] }}</td>
            <td>{{ order[3] }}</td>
            <td>{{ order[1] }}</td>
            <td>{{ order[2] }}</td>
        </tr>
        {% endfor %}
    </table>
    <center>
        <p><a href="/product">Back to Products</a></p>
        <p><a href="/">Back to Orders</a></p>
    </center>