body {
    background-color: dimgrey;
}
table, th, td {
    color:black;
    font-family: Verdana;
    border: 2px solid;
}
.center {
    margin-left: auto;
    margin-right: auto;
}
h1 {
    color:black;
    font-family: Verdana;
}
p {
    color:black;
    font-family: Verdana;
}
input {
    width: auto;
    padding: 5px 10px;
    margin: 4px 0;
    box-sizing:border-box;
    font-family: Verdana;
    border: 2px solid;
}